@{
    ViewBag.Title = "Home Page";
}
<section style="background-color:blue">
    @Html.ActionLink("Ir a libreria", "Index", "Libreria")
</section>

<section style="background-color:green">
    @Html.ActionLink("Ver Usuarios", "Index", "Usuarios")
</section>


    @Html.Partial("_sliderHOmePartial")
<section  style="background-color:red">

    @Html.Action("listaDestacados", "Libreria")
 
 
</section>

